<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay with Card</title>
    <script src="https://js.stripe.com/v3/"></script>

</head>
<body>
<h1>Pay with Card</h1>
<form id="payment-form">
    <select id="payment-method-select"></select>

    <button type="submit" id="payment">Pay</button>
    <div id="payment-errors" role="alert"></div>
</form>

<script>
    const stripe = Stripe('pk_test_51Q4DREKYDzfwQexmJTj49NymeJBPFDPULMYeAKFzUTzvzy8ip14rqrH7mSqQDuAUTZjSpZ0TA9BJBxbRBmWActWN00b1Kgrdd5'); // Thay bằng public key của bạn
    const elements = stripe.elements();
    const cardElement = elements.create('card');
    async function loadPaymentMethods() {
        const response = await fetch('/payment/get-payment-methods'); // Endpoint để lấy danh sách thẻ
        const paymentMethods = await response.json();

        const select = document.getElementById('payment-method-select');
        paymentMethods.forEach(method => {
            const option = document.createElement('option');
            option.value = method.id; // ID của payment method
            option.textContent = method.card.brand + ' **** **** **** ' + method.card.last4; // Hiển thị thông tin thẻ
            select.appendChild(option);
        });
    }

    const retryButton = document.getElementById('payment');
    // Sự kiện cho button thanh toán lại
    retryButton.addEventListener('click', async () => {
        const paymentMethodId = document.getElementById('payment-method-select').value;

        try {
            const response = await fetch('/payment/delete-payment-methods', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({paymentMethodId: paymentMethodId})
            });


        } catch (error) {
            console.error('Error:', error);

        }
    });

    loadPaymentMethods(); // Tải danh sách thẻ khi trang được tải
</script>
</body>
</html>
